@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Open Sauce Sans";
		src:
			url("/fonts/opensaucesans-bold-webfont.woff2") format("woff2"),
			url("/fonts/opensaucesans-bold-webfont.woff") format("woff");
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: "Open Sauce Sans";
		src:
			url("/fonts/opensaucesans-italic-webfont.woff2") format("woff2"),
			url("/fonts/opensaucesans-italic-webfont.woff") format("woff");
		font-weight: normal;
		font-style: italic;
	}

	@font-face {
		font-family: "Open Sauce Sans";
		src:
			url("/fonts/opensaucesans-light-webfont.woff2") format("woff2"),
			url("/fonts/opensaucesans-light-webfont.woff") format("woff");
		font-weight: lighter;
		font-style: normal;
	}

	@font-face {
		font-family: "Open Sauce Sans";
		src:
			url("/fonts/opensaucesans-regular-webfont.woff2") format("woff2"),
			url("/fonts/opensaucesans-regular-webfont.woff") format("woff");
		font-weight: normal;
		font-style: normal;
	}

	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground font-sans;
	}

	.markdown-container ol {
		@apply list-none space-y-2 my-4;
	}

	.markdown-container ul {
		@apply list-none space-y-2 my-4;
	}

	.markdown-container li {
		@apply relative pl-6;
	}

	.markdown-container li::before {
		content: "\2022";
		position: absolute;
		left: 0;
		margin-right: 8px;
		padding: 2px;
	}

	.markdown-container h1 {
		@apply text-6xl;
	}

	.markdown-container h2 {
		@apply text-5xl;
	}

	.markdown-container h3 {
		@apply text-4xl;
	}

	.markdown-container h4 {
		@apply text-3xl;
	}

	.markdown-container h5 {
		@apply text-2xl;
	}

	.markdown-container h6 {
		@apply text-xl;
	}

	.markdown-container pre {
		@apply whitespace-pre-wrap w-full font-sans;
	}

	.markdown-container code {
		@apply font-sans;
	}
}

:root {
	--foreground-rgb: 0, 0, 0;
}
