@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: #fff;
	font-family: system-ui, sans-serif;
}

p {
	padding-bottom: 1rem !important;
}
