main {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: start;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: start;
	max-width: 50vw;
	margin: 1rem;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: start;
}

tr {
	vertical-align: top;
}

tr:nth-child(odd) {
	background-color: #f2f2f2;
}

td {
	padding: 0.5rem;
}
