main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 50vw;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

pre {
	max-width: 50vw;
}
code {
	font-family: "Nimbus Mono PS", "Courier New", monospace;
	white-space: pre-wrap;
}
